{% extends 'layouts/side_scroll.html' %}

{% block fixedSection %}
    {% include 'create_quiz.html' %}
{% endblock %}

{% block scrollSection %} 
    <ul class="list-group">
        {% for quiz in quizzes %}
            <li class="card">
                <a href="/{{quiz['id']}}" class="h6">{{quiz['title']}}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block styles %}
<style>
    /* Style the counter cards */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }

</style>
{% endblock %} 